table {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-collapse: collapse;
    border-bottom: 1px solid #0b0b0b;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #0b0b0b;
}
