<header>   
    <div class="apresentacao">
        <a href="https://simples.software/" class="cta-link">
            <img src="assets/img/simples_logo.jpg" alt="Simples Logo">
        </a>
        <h1>Teste Angular</h1>
    </div>
    <div id="descricao">
        <p>"Neste projeto que desenvolvemos durante esta etapa do estágio na Simples Software,
            testamos os conhecimentos adquiridos durante uma parte da experiência, 
            focando no desenvolvimento das habilidades em Angular.
            Utilizamos conhecimentos em JavaScript, TypeScript, HTML e CSS."</p> 
    </div>
</header>
<body>
    <div class="rotas">
        <h2>Aqui podemos navegar pelas rotas do programa, utilizando o método <strong>routerLink</strong></h2>
    </div>
    <div class="rotas1">
        <button type="button" class="btn btn-lg btn-dark" [routerLink]="['registro']">Registro</button>
        <button id="buttonTabela" type="button" class="btn btn-lg btn-dark" [routerLink]="['tabela']">Tabela</button>
    </div>
</body>


