
button {
  margin-top: 15px;
}

#entrada{
  text-align: center;
  margin-top: 4%;
  margin-left: 35%; 
  margin-right: 35%;
}

legend {
  display: flex;
  margin-left: 42%;
}

label {
  display: block; 
  text-align: left;
}

.rotas{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

  